<nav style="background-color: red;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Logo" src="">
      </a>
    </div>
    <p class="navbar-text navbar-right">
      <% if (user) { %>
        Hello, <%= user.name %>
        <br>
        <a href="/listings">Main</a>
        <br>
        <a href="/listings/new">Post New Listing</a>
        <br>
        <a href="/group">Group</a>
        <br>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
    </p>
  </div>
</nav>
