<header id="header">
  <div class="inner">
    <div class="logo">
      <span class="symbol"><img id="navpic" src="/assets/images/home_Me.png" alt="logo" /></span>
    </div>
    <!-- Logo -->
    <!-- Nav -->
    <nav>
        <ul>
          <li style="padding: 20px"><%= user.name %></li>
          <li><a href="#menu"></a></li>
        </ul>
    </nav>
  </div>
</header>

<!-- Menu -->
<nav id="menu">
  <h2><%= user.name %></h2>
    <ul>
      <li><a href="/listings">Search</a></li>
      <li><a href="/listings/new">Post New Listing</a></li>
      <li><a href="/listings/postedlistings">My Properties</a></li>
      <li><a href="/groupchats">My Groups</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
