<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> New Listing Page </title>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
      <link rel="stylesheet" href="/assets/css/main.css" />
      <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
      <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">
              <!-- Nav -->
              <nav>
                  <ul>
                      <li><a href="#menu">Menu</a></li>
                  </ul>
              </nav>

          </div>
      </header>
      <!-- Menu -->
      <nav id="menu">
          <h2>Menu</h2>
          <ul>
              <li><a href="/listings">Search</a></li>
              <li><a href="/listings/new">Post New Listing</a></li>
              <li><a href="/group">My Group</a></li>
          </ul>
      </nav>
      <!-- Main -->
      <div id="main">
          <div class="inner">
              <!-- <h1>search</h1> -->


              <section>
                  <div class="row">
                      <div class="6u$ 12u$(medium)">

                      </div>
                  </div>
                  <section>
                      <form method="post" action="#">
                          <div class="row uniform">
                              <div class="6u 12u$(xsmall)">
                                  <input type="text" name="demo-name" id="city" value="" placeholder="city" />
                              </div>
                              <div class="6u$ 12u$(xsmall)">
                                  <input type="text" name="demo-email" id="duration" value="" placeholder="duration" />
                              </div>
                              <div class="6u 12u$(xsmall)">
                                  <input type="text" name="demo-name" id="minPrice" value="" placeholder="minimum price" />
                              </div>
                              <div class="6u$ 12u$(xsmall)">
                                  <input type="email" name="demo-email" id="maxPrice" value="" placeholder="maximum price" />
                              </div>
                              <div class="6u 12u$(xsmall)">
                                  <input type="text" name="demo-name" id="bedrooms" value="" placeholder="bedrooms" />
                              </div>
                              <div class="6u$ 12u$(xsmall)">
                                  <input type="email" name="demo-email" id="bathrooms" value="" placeholder="bathrooms" />
                              </div>
                              <div class="6u 12u$(xsmall)">
                                  <input type="text" name="demo-name" id="pets" value="" placeholder="pets" />
                              </div>
                              <div class="6u$ 12u$(xsmall)">
                                  <input type="email" name="demo-email" id="furnished" value="" placeholder="furnished" />
                              </div>


                          </div>
                      </form>
    <!-- <form class="container">
      <div class="form-group">
        <label for="formGroupExampleInput">City</label>
        <input type="text" class="form-control" id="city" placeholder="string">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">State</label>
        <input type="text" class="form-control" id="state" placeholder="string">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Address</label>
        <input type="text" class="form-control" id="address" placeholder="string">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Zip Code</label>
        <input type="text" class="form-control" id="zipcode" placeholder="string">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Price</label>
        <input type="text" class="form-control" id="price" placeholder="integer (no commas)">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Bedrooms</label>
        <input type="text" class="form-control" id="bedrooms" placeholder="number">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Bathrooms</label>
        <input type="text" class="form-control" id="bathrooms" placeholder="number">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Duration</label>
        <input type="text" class="form-control" id="duration" placeholder="number">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Pets</label>
        <input type="text" class="form-control" id="pets" placeholder="true / false">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Furnished</label>
        <input type="text" class="form-control" id="furnished" placeholder="true / false">
      </div>
      <input type="hidden" id="imageurl" name="imageurl" value="/images/default.png">
      <button type="button" class="btn btn-primary" id="submitListing">Submit</button>
    </form> -->
    <input type="file" id="file-input">
      <p id="status">Please select a file</p>
      <img style='width:100px'id="preview" src="/images/default.png">
    <script rel='javascript' src='/js/newlisting.js'></script>
  </section>
  <div class="row">
      <div class="6u 12u$(medium)">
          <ul class="actions">
              <li><a href="#" class="button special" id="submitSearch">submit</a></li>
          </ul>
      </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <section>
            <ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjhPiDnmTAQy95uLaqIr9ONbyAVMC3myw&callback=initMap">
</script>
<script rel='javascript' src='/js/listings.js'></script>

</body>

  </body>
</html>
