<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show</title>
    <title>home Me</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
    <%= listing.formattedAddress %>
    <div class="6u 12u$(medium)">
    </div>
    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <!-- <a href="index.html" class="logo">
                        <span class="symbol"><img src="images/logo.svg" alt="logo" /></span><span class="title">home Me</span>
                    </a> -->

                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

                </div>
            </header>

            <section>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="city" value="" placeholder="city" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="state" value="" placeholder="state" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="address" value="" placeholder="address" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="zipcode" value="" placeholder="zipcode" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="price" value="" placeholder="price" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="bedrooms" value="" placeholder="bedrooms" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="demo-email" id="bathrooms" value="" placeholder="bathrooms" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="demo-email" id="duration" value="" placeholder="duration" />
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="pets" value="" placeholder="pets" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="demo-email" id="furnished" value="" placeholder="furnished" />
                        </div>


                    </div>
                </form>
            </section>
      <input type="hidden" id="imageurl" name="imageurl" value="/images/default.png">
      <button type="button" class="btn btn-primary" id="submitListing">Submit</button>
      <ul class="actions">
          <li><a href="#" class="button special" id="delete">delete</a></li>
      </ul>
    </form>
    <input type="file" id="file-input">
      <p id="status">Please select a file</p>
      <img style='width:100px'id="preview" src="">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

    <script type="text/javascript">var listingId = '<%= listing._id %>';
    console.log('this listing is', listingId);</script>

    <script type="text/javascript">
    console.log('HELLO LISTING ID IS ', listingId);

    $('#delete').click(function(event) {
      $.ajax({
          url: "/api/listings",
          type: 'DELETE',
          data: {id: '<%= listing._id %>'}
      }).done(function(){
        window.location = "/listings/postedlistings"
      })

    });
    </script>
    <script rel='javascript' src='/js/updatelisting.js'>
    </script>
  </body>
</html>
