<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head') %>
    <link rel='stylesheet' href='/css/listings.css'/>
  </head>
  <body>
    <%- include('./partials/navbar.ejs')  %>

    <div class="container" id="map"></div>

    


    <script rel='javascript' src='/js/listings.js'></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjhPiDnmTAQy95uLaqIr9ONbyAVMC3myw&callback=initMap">
    </script>
  </body>
</html>
