<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script rel='javascript' src='/js/messages.js'></script>
    <link rel='stylesheet' href='/css/navbar.css'/>
    <link rel="stylesheet" href="/assets/css/main.css" />  </head>
  <body>
    <span class="spanTag" id="<%= user.name %>"></span>
    <div id="wrapper">

      <%- include('../partials/navbar.ejs')  %>

      <div id="main">
        <div class="inner">
          <section>
            <div class="row">
              <div class="6u$ 12u$(medium)"></div>
            </div>
            <div class="row">
              <div class="12u 12u$(medium)">
                <ul class="alt" id="messages"></ul>
                <form id="form">
                  <input type="text" name="demo-name" id="m" autocomplete="off" placeholder="Enter your message"/>
                  <br>
                  <button class="button special">Send Message</button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
              <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
          </section>
          <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer> -->
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
